h1{
    width: 400px;
    color: blue;
    box-shadow: 2px 2px 45px orange;
    font-style:italic;
}

label{
    color: darkblue;
}
img {
    
    width: 70%;
    border-color: black;
    
    -webkit-border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 10px orange ;

}
#ima{
    padding: 40px;
    width: 800px;
    background-color: yellow;
    background: -webkit-radial-gradient(top,transparent,orangered,cornflowerblue)
}
.list-group{
    width: 300px;
    padding: 30px;
    border-color: black;
    font-size: 20px;
    font-style: italic;
    /*background-color: violet;*/
}
#fdatos{
    width: 300px;
}
li:hover,.list-group-item:first-child:hover,.list-group-item:last-child:hover{
    border-left: solid  12px blue;
    color: blue;
}
.list-group-item,.list-group-item:first-child,.list-group-item:last-child{
    margin: 2px;
    padding: 12px;
    background: -webkit-radial-gradient(center ,yellow, orange) ;
    /*border:solid 2px orange;*/
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px;
    color: white;
}   
#fform{
    width: 300px;
    
}
.resultado{
    padding: 10px;
    font-size: 12px;
    color: white;
}
#fgenerar{
    width: 300px;
}   