h1{
    width: 400px;
    color: blue;
    box-shadow: 2px 2px 45px orange;
    font-style:italic;
}
div{
    width: 300px;
    
}
label{
    color: darkblue;
}
img {
    
    width: 70%;
    border-color: black;
    
    -webkit-border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 10px orange ;

}
#ima{
    padding: 40px;
    width: 800px;
    background-color: yellow;
    background: -webkit-radial-gradient(top,transparent,orangered,cornflowerblue)
}

